@model Inventario.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-4">
    <h3 class="text-center text-danger">¿Estás seguro de que deseas eliminar este producto?</h3>
    <h4 class="text-center">Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.StockDisponible)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StockDisponible)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Proveedor.ProveedorId)
        </dd>
    </dl>

    <form asp-action="Delete" method="post" class="text-center mt-4">
        <input type="hidden" asp-for="ProductoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger mr-2" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
